<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS Steps Today.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>iOS Steps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA3AF8F41E95501500903F2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA7B06381ED5AC890097F08E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA9D2E801E3E424C000E9C08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAF185F01E8848720081A1DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
